In [2]:
import pandas as pd
import numpy as np

# Ejercicio 1

Obtener la versión de la librería pandas.

In [3]:
import pandas as pd
print(pd.__version__)

1.3.5

# Ejercicio 2



*   Convertir la lista dada en una estructura pandas Series. 
*   Comprueba su tamaño.
* Utiliza el comando describe() y mira para qué sirve.

In [4]:
datos = [2, 3, 5, 7, 11]
datos = pd.Series(datos)
print(datos.describe())
print('----------')
datos.size

count     5.000000
mean      5.600000
std       3.577709
min       2.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      11.000000
dtype: float64
----------

5

# Ejercicio 3

* Ahora vuelve a convertir la pandas series de antes a una lista Python.
* Comprueba su tipo con la función type()

In [5]:
datos = datos.values.tolist()

# Ejercicio 4

Aplicar las operaciones aritméticas básicas sobre los objetos Series dados.

Prueba a:
* Sumar
* Restar
* Multiplicar
* Dividir

In [6]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([9, 8, 7, 6, 5])

In [7]:
def calculadora (x, y):
  suma = x + y
  resta = y - x
  multi = x * y
  div = x / y
  return (suma, resta, multi, div)

calculadora (serie1, serie2)

(0    10
 1    10
 2    10
 3    10
 4    10
 dtype: int64, 0    8
 1    6
 2    4
 3    2
 4    0
 dtype: int64, 0     9
 1    16
 2    21
 3    24
 4    25
 dtype: int64, 0    0.111111
 1    0.250000
 2    0.428571
 3    0.666667
 4    1.000000
 dtype: float64)

# Ejercicio 5

Usar operadores relacionales para comparar los objetos Series dados.

In [8]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])

In [9]:
n = serie1 < serie2
n2 = serie1 <= serie2
n1 = serie1 == serie2
print(n1, n2, n)

0    False
1    False
2    False
3     True
4    False
dtype: bool 0     True
1     True
2     True
3     True
4    False
dtype: bool 0     True
1     True
2     True
3    False
4    False
dtype: bool

¿Qué ocurre? ¿Se comparan todos los elementos? ¿Se compara el objeto únicamente...?



```
SE COMPARAN TODOS POR SER SERIES NUMERICAS

```

# Ejercicio 6



*   Convertir el diccionario Python en un objeto Series.
*   Intenta imprimir un pantalla algún valor de la serie.

PD: Fíjate como accedemos al valor.

In [11]:

datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
datos = pd.Series(datos)
datos.a

10

# Ejercicio 7

Crea un array NumPy y conviertelo en un objeto Series.

In [12]:
#Crea un array NumPy 
import numpy as np
vector = np.random.randint(1,101,5)
vector

array([31, 89, 18, 82, 85])

In [13]:
#Conviertelo en un objeto Series.
vector_series = pd.Series(vector)

# Ejercicio 8

Cambiar el tipo de datos de un objeto Series.



*   Cambiar la siguiente serie de Strings en númerica

In [19]:
datos = pd.Series(['100', '200', '', '300.15', '500.8']).replace('', np.nan)
datos = datos.astype(float)
datos.describe()

count      4.000000
mean     275.237500
std      171.141206
min      100.000000
25%      175.000000
50%      250.075000
75%      350.312500
max      500.800000
dtype: float64

# Ejercicio 9

Obtener una columna de un objeto DataFrame como un objeto Series.

In [23]:
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

df['A']

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

# Ejercicio 10 (Opcional)

Convertir un objeto Series con múltiples listas en un único objeto Series.

In [21]:
datos = [['Colombia', 'Perú', 'Argentina'], ['Bolivia', 'Uruguay'], ['Chile']]

serie = pd.Series(datos)

serie

0    [Colombia, Perú, Argentina]
1             [Bolivia, Uruguay]
2                        [Chile]
dtype: object

# Ejercicio 11

Ordenar los valores de un objeto Series con el método sort_values.

In [25]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)

serie.sort_values()

2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

# Ejercicio 12

Agregar datos a un objeto Series existente.

* Usa el método append()
* IMPORTANTE: Si estamos trabajando con pandas series y aplicamos el método append(), espera recibir como argumento una pandas series.

In [33]:
datos = ['Python', 'C#', 'C++', 'Java', 'PHP']
datos2 = ['MariaDB', 'SQL']

serie = pd.Series(datos)
serie2 = pd.Series(datos2)
serie = serie.append(serie2)

serie

0     Python
1         C#
2        C++
3       Java
4        PHP
0    MariaDB
1        SQL
dtype: object

# Ejercicio 13

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.

Quédate con los datos que sean menores de 6.

In [38]:
datos = [0, 1, 7, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

serie = serie.where(serie < 6).dropna()

serie

0    0.0
1    1.0
3    3.0
4    4.0
5    5.0
dtype: float64

# Ejercicio 14

* Tenemos un objeto series con letras como Indices y números como valores
* Cambiar el orden del índice de un objeto Series.
* El orden tiene que ser: ['B', 'A', 'C', 'D', 'E']

PISTA: Podrías buscar en internet how to change index order series python

In [39]:
datos = [1, 2, 3, 4, 5]

indices = ['A', 'B', 'C', 'D', 'E']

serie = pd.Series(data=datos, index=indices)

serie = serie.reindex(index = ['B', 'A', 'C', 'D', 'E'])

serie

B    2
A    1
C    3
D    4
E    5
dtype: int64

# Ejercicio 15

Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [43]:
datos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

serie = pd.Series(datos)

serie_std = serie.std()
print(serie_std)

serie_avg = serie.mean()
serie_avg

9.024041962077378

12.9

# Ejercicio 16

Calcular los valores mínimo y máximo de un objeto Series.

In [45]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie_min = serie.min()
print(serie_min)
serie_max = serie.max()
print(serie_max)

0
29

# Ejercicio 17 (Opcional)

Obtener estádisticas básicas de un objeto Series con el método `describe`.

In [46]:
serie.describe()

count     8.000000
mean     13.000000
std      10.155927
min       0.000000
25%       5.750000
50%      12.000000
75%      20.000000
max      29.000000
dtype: float64

## Ejercicio 18

Obtener los elementos impares de un objeto Series numérico.

In [49]:
datos = [19, 2, 13, 0, 23, 29, 11, 7]

serie = pd.Series(datos)

serie = serie.where(serie %2 != 0).dropna()
serie

0    19.0
2    13.0
4    23.0
5    29.0
6    11.0
7     7.0
dtype: float64

# Ejercicio 19 (Opcional)

Extraer los datos de un objeto Series como un objeto NumPy.

In [50]:
array = serie.to_numpy()
array

array([19., 13., 23., 29., 11.,  7.])

# Ejercicio 20

Comprobar si una serie contiene valores NaN. Ya existe una función que lo comprueba.

In [51]:
datos = ['20', '30', '', '50', 100]

serie = pd.Series(datos)
serie = pd.to_numeric(serie)

serie = serie.isna()
serie

0    False
1    False
2     True
3    False
4    False
dtype: bool

# Ejercicio 21 (Opcional)

Operaciones aritméticas con métodos de la clase Series: `add`, `subtract`, `multiply`, y `divide`.

In [53]:
serie1 = pd.Series(list(range(1, 11)))


serie1

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
dtype: int64

In [59]:
serie2 = pd.Series(list(range(10, 0, -1)))

serie2 = serie2.add(serie1)
print(serie2)

serie3 = serie2.subtract(serie1)
print(serie3)

serie4 = serie2.multiply(serie1)
print(serie4)

serie5 = serie2.divide(serie1)
print(serie5)

0    12
1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
9    12
dtype: int64
0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64
0     24
1     36
2     48
3     60
4     72
5     84
6     96
7    108
8    120
9    132
dtype: int64
0    6.000000
1    4.000000
2    3.000000
3    2.400000
4    2.000000
5    1.714286
6    1.500000
7    1.333333
8    1.200000
9    1.090909
dtype: float64

# Ejercicio 22

Eliminar los valores NaN de una serie con el método dropna.

In [61]:
datos = ['2.3', '90', '100', np.nan, '0.5', '.9']

serie = pd.Series(datos)

serie = serie.dropna()

serie

0    2.3
1     90
2    100
4    0.5
5     .9
dtype: object

# Ejercicio 23

Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

In [66]:
datos = [1, 3, np.nan, 11, 'Python', '-0.5', np.nan]

serie = pd.Series(datos).replace(np.nan, np.random.randint(1,101))

serie

0         1
1         3
2        19
3        11
4    Python
5      -0.5
6        19
dtype: object